<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLDatabaseEdendesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLDatabaseEdendesign.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLExpress;AttachDbFilename=C:\KurtKreemers\SQL Database test\EdenDesign.mdf;Database=EdenDesign;Trusted_Connection=Yes</value>
            </setting>
        </SQLDatabaseEdendesign.Properties.Settings>
    </userSettings>
</configuration>